* {
    -scene-background: #e2e2e2;

    -open-drawings-list-background-color: #00c6e2;
    -open-drawings-list-border-color: #008de2;
    -open-drawings-list-border-width: 3px;

    -open-drawing-background-color: #43e2db;
    -open-drawing-border-color: #72aae2;
}

.root {
    -fx-min-width: 800px;
    -fx-min-height: 600px;

}

.topContatiner {

    -fx-padding: 0px;
}

.openDrawingsList {
    -fx-min-width: 100px;
    -fx-min-height: 75px;
    -fx-pref-width: 400px;
    -fx-pref-height: 75px;
    -fx-max-width: 600px;
    -fx-max-height: 75px;

    -fx-background-color: -open-drawings-list-background-color;
    -fx-border-color: -open-drawings-list-border-color;
    -fx-border-width: 3px;
}

.openDrawingsList > * {
    -fx-min-width: 69px;
    -fx-min-height: 69px;
    -fx-pref-width: 69px;
    -fx-pref-height: 69px;
    -fx-max-width: 69px;
    -fx-max-height: 69px;

    -fx-background-color: -open-drawing-background-color;
    -fx-border-color: -open-drawing-border-color;
    -fx-border-width: 3px;
}

.barContainer {

}

.menuBar {
    /*-fx-min-width: 25px;*/
    -fx-min-height: 25px;
    /*-fx-pref-width: 25px;*/
    -fx-pref-height: 25px;
    /*-fx-max-width: 25px;*/
    -fx-max-height: 25px;

}

.toolsBarContainer {
    -fx-min-width: inherit;
    -fx-pref-width: inherit;
    -fx-max-width: inherit;

}

.toolsBarContainer .toolsBar,
.toolsBarContainer .toolsBar .toolsGroupBox {
    /*-fx-min-width: 25px;*/
    -fx-min-height: 25px;
    /*-fx-pref-width: 25px;*/
    -fx-pref-height: 25px;
    /*-fx-max-width: 25px;*/
    -fx-max-height: 25px;

    -fx-padding: 0px;
}

.toolsBarContainer .toolsBar .tool,
.toolsBarContainer .toolsBar .toolsGroupBox .tool {
    /*-fx-min-width: 25px;*/
    -fx-min-height: inherit;
    /*-fx-pref-width: 25px;*/
    -fx-pref-height: inherit;
    /*-fx-max-width: 25px;*/
    -fx-max-height: inherit;

}

.rendererCanvasContainer {

    /*-fx-min-width: 800px;*/
    /*-fx-min-height: 600px;*/
    /*-fx-pref-width: 1200px;*/
    /*-fx-pref-height: 900px;*/
    /*-fx-max-width: 100%;*/
    /*-fx-max-height: 100%;*/

    -fx-background-color: -scene-background;

    -fx-alignment: center;
}

/*.rendererCanvas{*/

/*}*/