
#################
## Jetbrains
#################

.idea/
*.iml

#################
## JavaFx-Build
#################

build/

#################
## Maven
#################

**/target/classes
**/target/generated-sources
