.root{
    somegrey:                           #c0c0c0;
    menubar-gradient:                   linear-gradient(from 50% 0% to 50% 100%, #708090 0%, #B0B0B0 50%, #708090 100%);
    menuhovergrey:                      #C4C4C4;
    backgroundblue:                     #445566;
    focusblue:                          #708090;
}
/*
 *============================MenuBar
*/
.menu-bar{
    -fx-max-height:                         25;
    -fx-pref-height:                        25;
    -fx-min-height:                         25;

    -fx-background-color:                   menubar-gradient;
}

/*
 *==============================Menu
*/
.menu-bar .menu{
    -fx-max-height:                         25;
    -fx-pref-height:                        25;
    -fx-min-height:                         25;

    -fx-font-size:                          16;
    -fx-font-family:                        'Arial';
    -fx-font-style:                         normal;
    -fx-font-weight:                        700;
    -fx-text-fill:                          #FFF;
    -fx-text-origin:                        baseline;

    -fx-padding:                            0 10 0 10;
}
.menu-bar .menu:hover,.menu-bar .menu:focused{
    -fx-text-fill:                          #FFF;
    -fx-text-origin:                        baseline;

    -fx-background-color:                   focusblue;

}
.menu-bar .menu:showing{
    -fx-text-fill:                          #FFF;
    -fx-text-origin:                        baseline;

    -fx-background-color:                   focusblue;
}
.menu .context-menu{
    -fx-background-color:                   backgroundblue;

    -fx-padding:                            0;
}
/*
 *=========================Menu-Item
*/

.menu-item{
    width:                                  100%;

    -fx-font-size:                          14;
    -fx-font-family:                        'Arial';
    -fx-font-style:                         normal;
    -fx-font-weight:                        600;
    -fx-text-fill:                          #FFF;
    -fx-text-origin:                        baseline;


    -fx-padding:                            2 5 2 5;
}
.menu-item:hover, .menu-item:focused{
    -fx-background-color:                   focusblue;
    -fx-text-fill:                          #FFF;
    -fx-text-origin:                        baseline;
}
.menu-item .menu-button{
    -fx-text-fill:                          #FFF;
}

/*
 *======================END==MenuBar
*/
/*
 *====================Window-Buttons
*/
.hbox-btn-container{
    -fx-background-color:                   somegrey;
    hovergrey:                              rgba(170,170,170,0.6);
    hoverred:                               rgba(255,0,0);
    red:                                    rgb(200,0,0);
}
.hbox-btn-container .button{
    -fx-max-height:                         25;
    -fx-pref-height:                        25;
    -fx-min-height:                         25;

    -fx-background-radius:                  0;

    -fx-border-width:                       0;
    -fx-border-radius:                      0;

    -fx-padding:                            0;
}
.btn-minimize{
    -fx-max-width:                          25;
    -fx-pref-width:                         25;
    -fx-min-width:                          25;

    -fx-background-color:                   transparent;
}
.btn-switch-window-state{
    -fx-max-width:                          25;
    -fx-pref-width:                         25;
    -fx-min-width:                          25;

    -fx-background-color:                   transparent;
}

.btn-switch-window-state-max{
    -fx-max-width:                          25;
    -fx-pref-width:                         25;
    -fx-min-width:                          25;

    -fx-background-color:                   transparent;
}
.btn-minimize:hover, .btn-switch-window-state:hover, .btn-switch-window-state-max:hover{
    -fx-background-color:                   hovergrey;
}

.btn-exit{
    -fx-max-width:                          40;
    -fx-pref-width:                         40;
    -fx-min-width:                          40;

    -fx-background-color:                   red;
    -fx-text-fill:                          #fff;

    -fx-font-size:                          16;
    -fx-font-family:                        'Arial';
    -fx-font-style:                         normal;
    -fx-font-weight:                        800;

}
.btn-exit:hover{
    -fx-background-color:                   hoverred;
}
/*
 *===============END==Window-Buttons
*/
/*
 *===========================Display
*/
.root-display{
    -fx-background-color:                   #000;
}


/*
 *======================END==Display
*/