<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<commandlet-configuration>
    <commandlet-group name="File">
        <commandlet name="Save" shortcutStr="Ctrl+S" eventTypeStr="KEY_RELEASED" class="framework.io.SaveCommandlet"/>
        <commandlet name="Save As" shortcutStr="Alt+S" eventTypeStr="KEY_RELEASED" class="framework.io.SaveAsCommandlet"/>
    </commandlet-group>
    <commandlet-group name="Edit">
        <commandlet name="Undo" shortcutStr="Ctrl+Z" eventTypeStr="KEY_PRESSED" class="framework.commandlet.Commandlet"/>
        <commandlet name="Redo" shortcutStr="Ctrl+Y" eventTypeStr="KEY_PRESSED" class="framework.commandlet.Commandlet"/>
    </commandlet-group>
</commandlet-configuration>
