<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<commandlet-configuration>
    <commandlet-group name="File">
        <commandlet name="Save" shortcut="Ctrl+S" eventType="KEY_RELEASED" class="framework.io.SaveCommandlet"/>
        <commandlet name="Save As" shortcut="Alt+S" eventType="KEY_RELEASED" class="framework.io.SaveAsCommandlet"/>
    </commandlet-group>
    <commandlet-group name="Edit">
        <commandlet name="Undo" shortcut="Ctrl+Z" eventType="KEY_PRESSED" class="framework.commandlet.Commandlet"/>
        <commandlet name="Redo" shortcut="Ctrl+Y" eventType="KEY_PRESSED" class="framework.commandlet.Commandlet"/>
    </commandlet-group>
</commandlet-configuration>
